/* PAGE */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: papayawhip;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}
